#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.container {
  /* override bootstrap default margin cause its dumb */
  margin: 0 2rem !important;
  max-width: 90% !important;
}

body {
  justify-content: center;
}

div.player, div.enemy {
  margin: 1rem;
  width: 15rem;
}

.card-body > * {
  margin: 1rem 0;
}

#game_screen {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  height: 75vh;
  width: 100vw;
}

#encounter_screen {
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

#player_screen {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  height: 50%;
}

.player_actions > * {
  margin: 0 0.5rem;
}
